/*.foot{
  background-color: black;
}
.foot{
  color: white;

  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;

}
.reg::after{

  content: '';
background-color: white;

width: 450px;
text-align: left;
right: 0;
top: 0px;
margin: 0 auto;
display: flex;

height: 1px;

border-radius: 100px;

}



.btn-light:active{
  background-color: #00FF00;
}

.btn-light:hover{
  background-color:#00FF00;
  transition: all 0.4s ease-in-out ;
}
*/
/** footer **/

.footer {
  background: #141629;
  padding-top: 85px;
  text-align: center;
}

.footer .titlepage {
  text-align: left;
  padding-bottom: 0px;
}

.footer .titlepage h2 {
  color: #fff;
  margin: inherit;
  border-bottom: #fff solid 1px;
}

ul.location_icon {
  padding-top: 12px;
}

ul.location_icon li {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  padding-left: 62px;
}

ul.location_icon li a {
  font-size: 30px;
  color: #fff;
  line-height: 30px;
  padding-right: 15px;
}

ul.location_icon li a:hover {
  color: #00ff00;
}

.main_form {
  padding: 50px 0px 0px 0px;
}

.main_form .contactus {
  border: inherit;
  padding: 0px 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 60px;
  background: transparent;
  color: #777977;
  font-size: 18px;
  font-weight: normal;
  border-bottom: #ddd solid 1px;
}

.main_form .textarea {
  border: inherit;
  padding: 0px 15px;
  margin-bottom: 20px;
  width: 100%;
  background: transparent;
  color: #777977;
  font-size: 18px;
  font-weight: normal;
  border-bottom: #ddd solid 1px;
  padding-top: 30px;
}

.main_form .send_btn {
  font-size: 17px;
  transition: ease-in all 0.5s;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  padding: 10px 0px;
  max-width: 160px;
  width: 100%;
  display: block;
  margin-top: 30px;
}

.main_form .send_btn:hover {
  background-color: black;
  transition: ease-in all 0.5s;
  color: white;
}

#request *::placeholder {
  color: #777977;
  opacity: 1;
}

ul.social_icon {
  padding-top: 37px;
}

ul.social_icon li {
  display: inline-block;
}

ul.social_icon li a {
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 30px;
  margin: 0 3px;
  color: #000;
}

ul.social_icon li a:hover {
  background-color: black;
  color: white;
}
.map {
  padding-top: 60px;
}

.map figure {
  margin: 0;
}

.map figure img {
  width: 100%;
}

.bottom_form h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
}

.bottom_form .enter {
  border: inherit;
  padding: 0px 19px;
  width: 62%;
  height: 53px;
  background: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  float: left;
}

.sub_btn {
  font-size: 17px;
  transition: ease-in all 0.5s;
  background-color: #00ff00;
  color: black;
  padding: 11px 0px;
  max-width: 200px;
  width: 100%;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: -2px;
}

.sub_btn:hover {
  background-color: #000;
  transition: ease-in all 0.5s;
  color: #fff;
}

.copyright {
  margin-top: 70px;
  padding: 20px 0px;
}

.copyright p {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-top: #ddd solid 1px;
  padding-top: 25px;
}

.copyright a {
  color: #fff;
}

.copyright a:hover {
  color: #00ff00;
}



