<!-- <div class="about">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div title="titlepage">
                  <h2 style="text-align: center; padding-top: 60px;"><b>About Our Car Services</b></h2>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-10" style="padding-left: 250px;"><br>
                  <div class="carbody">
              <h3>Dolor sit amet, consectetur adipiscing elit,</h3>
              <p>
                  dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                  <a class="read_more btn">Read More</a>
              </div>
      </div>

      </div>
  </div>
</div>-->
<div class="title">
  <h2 class="reg"><b>About Our Car Services</b></h2>
</div>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 about">
      <div class="carbody">
      <h3>Dolor sit amet, consectetur adipiscing elit,</h3>
      <p>
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit
           amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
           veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
           magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          <a class="read_more btn">Read More</a>
    </div>
    </div>
    <div class="col-lg-3">

    </div>
    </div>
  </div>
