<div class="te">
  <h2 class="reg"><b>
  Testimonial
  </b></h2>
  </div>

  <p></p>
  <p></p>
  <div class="te1">
    <h6><b>It is a long established fact that a reader will be distracted by the</b></h6>
  </div>
  <p></p>
  <br>
  <br>
  <p></p>
  <div id="carousel" class="carousel slide">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <!-- first -->
          <div class="container-fluid">
            <div class="container">
<div class="row">
<div class="col-lg-6 para">
  <div class="card ink ">
    <div class="card-img-top">
      <br>
      <img src="assets/images/p1.png" height="150px" >
    </div>
    <div class="card-text ink1">
      Kiran<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    </div>
    </div>


</div>

<div class="col-lg-6 ">
  <div class="card ink">
    <div class="card-img-top">
      <br>
      <img src="assets/images/p4.png" height="150px">
    </div>
    <div class="card-text ink1">
      Viswa<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<div class="carousel-item">
<div class="container">
<div class="row">
<div class="col-lg-6 ">
  <div class="card ink">
    <div class="card-img-top top">
      <br>
      <img src="assets/images/p2.png " height="150px">
    </div>
    <div class="card-text ink1">
      Viswa<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    </div>
    </div>

</div>


<div class="col-lg-6 slider">
  <div class="card ink">
    <div class="card-img-top ">
      <br>
      <img src="assets/images/p5.png" height="150px">
    </div>
    <div class="card-text ink1">
      Madhu<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    </div>
    </div>
</div>
</div>
</div>
</div>



<div class="carousel-item">
<div class="container">
  <div class="row">
<div class="col-lg-6">
  <div class="card ink">
    <div class="card-img-top top">
      <br>
      <img src="assets/images/p3.png" height="150px">
    </div>
    <div class="card-text ink1">
      Dhoni<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    </div>
    </div>
</div>
<div class="col-lg-6 slider">
  <div class="card ink">
    <div class="card-img-top top">
      <br>
      <img src="assets/images/p7.png" height="150px">
    </div>
    <div class="card-text ink1">
      hentai<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    </div>
    </div>
</div>
</div>
</div>
</div>

<button class="carousel-control-prev k1" type="button" data-bs-target="#carousel"data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>

<button class="carousel-control-next k" type="button" data-bs-target="#carousel"data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>
</div>
<br>
<br>
<br>
<br>
<br>

