
<div class="b2">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <!-- first -->
                        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-5 para">
            <p class="wel"><b>WELCOME</b></p>

            <p class="car">CAR REPAIR SERVICES</p>
            <p class="text2">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem
              Ipsum is that it has a more-or-less normal distribution of letters </p>
              <div  style="z-index:5 !important;">
                <a [routerLink]="['/register']" class="btn btn-primary but">More info</a>
                <a [routerLink]="['/contacts']" class="btn btn-primary but">Contact us</a>
              </div>


            </div>

            <div class="col-lg-7 slider">
                <img src="assets/images/sli1.png" height="500px" width="100%" style="border-radius: 550px;">
            </div>
          </div>
          </div>
          </div>


          <div class="carousel-item">

          <div class="row">
          <div class="col-lg-5 para">
          <p class="wel"><b>WELCOME</b></p>

          <p class="car">CAR REPAIR SERVICES</p>
          <p class="text2">A car repair service offers a range of essential maintenance and
            repair tasks to keep vehicles running smoothly and reliably. These services encompass
            routine tasks like oil changes, tire rotations, and brake inspections, ensuring optimal
            performance and safety. They handle battery testing and replacements, diagnose and address
            engine and transmission issues, and maintain cooling systems to prevent over heating. Services
            extend to suspension and steering repairs, exhaust system fixes, and HVAC system maintenance for
            comfortable driving.  </p>

            <a [routerLink]="['/register']" class="btn btn-primary but">More info</a>
            <a [routerLink]="['/contacts']" class="btn btn-primary but">Contact us</a>

          </div>


          <div class="col-lg-7 slider">
            <img src="assets/images/sli2.png" height="500px" width="100%" style="border-radius: 550px;">
          </div>
          </div>
          </div>



          <div class="carousel-item">
          <div class="row">
            <div class="col-lg-5 para">
            <p class="wel"><b>WELCOME</b></p>

            <p class="car">CAR REPAIR SERVICES</p>
            <p class="text2">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem
              Ipsum is that it has a more-or-less normal distribution of letters </p>
              <a [routerLink]="['/register']" class="btn btn-primary but">More info</a>
              <a [routerLink]="['/contacts']" class="btn btn-primary but">Contact us</a>

            </div>
            <div class="col-lg-7 slider">
                <img src="assets/images/sli3.png" height="500px" width="100%" style="border-radius: 550px;">
            </div>
          </div>
          </div>

          <button class="carousel-control-prev k1" type="button" data-bs-target="#carousel"data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next k" type="button" data-bs-target="#carousel"data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
          </button>
          </div>
           </div>






          <div class="container abb">
            <div class="row">
              <div class="col-lg-4 c1">
                <div class="magnify">
              <div class="card">
              <div class="card-text c2">
                <h4>AUTO DIAGNOSE</h4>
              </div>
              <div class="card-img-top top">
                <a href="https://www.formula1.com/">
                <img src="assets/images/c1.png" height="150px">
                </a>
              </div>
              <div class="card-text c3">
                ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam
              </div>
              </div>
              </div>
              </div>
              <div class="col-lg-4 c1">
                <div class="magnify">
                <div class="card">
                  <div class="card-text c2">
                    <h4>NITRO FUEL</h4>
                  </div>
                  <div class="card-img-top">
                    <a href="">
                    <img src="assets/images/c2.png" height="150px">
                    </a>
                  </div>
                  <div class="card-text c3">
                    ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam
                  </div>
                  </div>
                  </div>
              </div>
              <div class="col-lg-4 c1">
                <div class="magnify">
                <div class="card">
                  <div class="card-text c2">
                    <h4>DRIFT WHEELS</h4>
                  </div>
                  <div class="card-img-top">
                    <a href="https://www.toyotires.com/use/competition/">
                    <img src="assets/images/c3.png" height="150px">
                    </a>
                  </div>
                  <div class="card-text c3">
                    ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam
                  </div>
                  </div>
              </div>
              </div>
              </div>
              </div>
            </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <!--
      <div class="column">
          <div class="container" >
            <div class="card">
              <div class="image">
                  <img src="../../assets/images/c1.png" alt="Snow" style="width:100%">
              </div>
              <div class="card-text">
                <h6>BODY BUILDING</h6>
                <P> The use of progressive resistance exercise to build, control, and develop one's muscles via hypertrophy</P>
                  <h2  class="text1">READ MORE</h2>
              </div>
            </div>
</div>
      </div>
      <div class="column">
          <div class="container">
              <div class="image">
                  <img src="../../assets/images/c2.png" alt="Snow" style="width:70%">
              </div>
              <div class="text">
                <h6>WEIGHT LEFTING</h6>
                <P> The use of progressive resistance exercise to build, control, and develop one's muscles via hypertrophy</P>
                  <h2  class="text1">READ MORE</h2>
              </div>
            </div>

      </div>
      <div class="column">
          <div class="container" >
              <div class="image">
                  <img src="../../assets/images/c3.png" alt="Snow" style="width:90%">
              </div>
              <div class="text">
                <h6>MUSIC BUILDING</h6>
                <P> The use of progressive resistance exercise to build, control, and develop one's muscles via hypertrophy</P>
                  <h2 class="text1">READ MORE</h2>
              </div>
      </div>
  </div>


</div>-->

<!-- About us page -->
<div class="container">
<div classs="row">
<div class="title">
  <h2 class="reg"><b>About Our Car Services</b></h2>
</div>
<p></p>
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 about">
      <div class="carbody">
      <h3>Dolor sit amet, consectetur adipiscing elit,</h3>
      <p>
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit
           amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
           veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
           magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          <a class="read_more bt">Read More</a>
    </div>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
</div>
</div>
<!-- Furniture -->
<div class="te">
  <h2 class="reg1"><b>
  What We Do
  </b></h2>
  </div>

  <p></p>
  <div class="te1">
    <h6><b>It is a long established fact that a reader will be distracted by the</b></h6>
  </div>
  <p></p>
  <p></p>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-2">

  </div>
  <div class="col-lg-8">
            <div class="row">
                    <div class="col-lg-6">
                      <div class="card b c">
                      <img class="card-img-top t" src="assets/images/ca1.png" height="330px" >
                      <div class="middle">
                        <div class="text">Quick Repair </div>
                        <div class="text1">Total Service</div>
                      </div>
                     </div>
                     <br>
                     <div class="card b c">
                     <img class="card-img-top t" src="assets/images/ca2.png" height="330px">
                     <div class="middle">
                      <div class="text">Spare Parts </div>
                        <div class="text1">Total Service</div>
                    </div>
                     </div>
                    </div>
                   <div class="col-lg-6">
                       <div class="card b c">
                       <img class="card-img-top t" src="assets/images/ca5.jpg" height="330px">
                       <div class="middle">
                        <div class="text">Status</div>
                        <div class="text1">Total Service</div>
                      </div>
                        </div>
                        <br>
                       <div class="card b c">
                       <img class="card-img-top t" src="assets/images/ca4.png" height="330px">

                       <div class="middle">
                        <div class="text">Delivey</div>
                        <div class="text1">Total Service</div>
                      </div>
                      </div>
                   </div>
             </div>
  </div>
  <div class="col-lg-2">

  </div>
</div>
</div>
<p></p>
<a class="see_more btn">See More</a>
<p></p>


